
var mapping = {
  weeks: ['日', '一', '二', '三', '四', '五', '六'],

  intervalMaps: [ '不重复', '1天1次', '2天1次', '3天1次', '4天1次', '5天1次', '6天1次', '7天1次', '8天1次', '9天1次', '10天1次', '11天1次', '12天1次', '13天1次', '14天1次', '15天1次', '16天1次', '17天1次', '18天1次', '19天1次', '20天1次', '21天1次', '22天1次', '23天1次', '24天1次', '25天1次', '26天1次', '27天1次', '28天1次', '29天1次', '1月1次', '2月1次', '3月1次', '4月1次', '5月1次', '6月1次', '7月1次', '8月1次', '9月1次', '10月1次', '11月1次', '1年1次' ],

  breedMaps: ['阿比西尼亚猫', '埃及猫', '奥西猫', '巴厘猫', '波米拉猫', '波斯猫', '伯曼猫', '布偶猫', '德文卷毛猫', '东方猫', '东奇尼猫', '俄罗斯蓝猫', '哈瓦那棕猫', '呵叻猫', '加菲猫', '加拿大无毛猫', '金吉拉', '橘猫', '拉邦猫', '褴褛猫', '狸花猫', '临清狮猫', '马恩岛猫', '曼基康猫', '美国短毛猫', '美国短尾猫', '美国刚毛猫', '美国卷耳猫', '美国卷毛猫', '孟加拉豹猫', '孟买猫', '缅甸猫', '缅因猫', '奶牛猫', '挪威森林猫', '欧洲缅甸猫', '日本短尾猫', '塞尔凯克卷毛猫', '三花猫', '沙特尔猫', '斯芬克斯猫', '苏格兰折耳猫', '索马里猫', '土耳其安哥拉猫', '土耳其梵猫', '西伯利亚森林猫', '喜马拉雅猫', '暹罗猫', '新加坡猫', '异国短毛猫', '英国短毛猫', '英短蓝白', '英短蓝猫', '英短银渐层', '英短金渐层', '英国长毛猫', '中华田园猫', '重点色短毛猫'],

  //狂犬疫苗
  rabiesMaps: [ '狂犬疫苗','猫三联疫苗（第一剂）', '猫三联疫苗（第二剂）', ' 猫三联疫苗（第三剂）', ' 猫三联疫苗（次年增强）', '猫三联疫苗（三年加强）', '其他' ],
  //驱虫类型
  dewormMaps:['体外驱虫', '体内驱虫', '体内外同驱'],
  //驱虫药
  dewormMedMaps:[ '拜耳','福来恩','大宠爱','爱沃克','巴迪','海乐妙','雷米高','诺信','其他' ],
  //"day": 1, // 0.今天 1.明天 2.后天 -1.此字段无用
  remindDays: ['今天', '明天','后天']


}
//wxml中根据status ，内容展示
var RadioFunc = function (name,status) {
  return mapping[name][status.toString()]
}

var dateMD = function(date) {
  //2019-08-01 -->  08月01日
  var ary = date.split('-')
  return ary[1] + '月' + ary[2] + '日' 
}

var dateTime = function (date,type) { 
  //2019-08-01 17:50 -->  2019年08月01日 17:50
  var ary = date.slice(0, -3).split(' ')
  var ary1 = ary[0].split('-')
  switch (type){
    case 'YMD':
      return ary1[0] + '年' + ary1[1] + '月' + ary1[2] + '日' + ' ' + ary[1]
      break;
    case 'MD':
      return  ary1[1] + '月' + ary1[2] + '日' + ' ' + ary[1]
      break;
  }
}

var dateYMD = function (date) {
  //2019-08-01 -->  2019年08月01日
  var array=date.split('-')
  return array[0] + '年' + array[1] + '月' + array[2] + '日' 
}

var dateYMDHM = function (date) {
  //"2019-08-28 00:00:00"-->  2019年08月01日
  var ary = date.split(' ')
  var ary1 = ary[0].split('-')
  console.log(ary,ary1,'ary1');
  
  return ary1[0] + '年' + ary1[1] + '月' + ary1[2] + '日' + ' ' + ary[1]
}


//导出
module.exports ={
  mapping: mapping,
  RadioFunc: RadioFunc,
  dateTime: dateTime,
  dateYMD: dateYMD,
  dateMD:dateMD,
  dateYMDHM: dateYMDHM
}